extends ../templates/base.template.pug

include ../mixins/slider.mixin.pug

block head
    
    title ILDA Converter

block body

    header
        #container
            //- div ILDA Converter
            nav
                a(href="#convert") Convert
                a(href="#api") API
                a(href="#contact") Contact

    content

        #infoContainer

            h1 Online ILDA Converter
            h3 Easily convert your ILDA files to various image and video formats 


        #howToContainer

            h2 How to convert your ILDA files
            
            .step
                .img
                p Choose your file
            
            .step
                .img
                p Adjust the parameters
            
            .step
                .img
                p Download & enjoy


        #convert

            #dropZone Select / Drop files

            #conversionAreaContainer
                #conversionArea

                    
                    #controls

                        p#filename ILDA filename

                        +sliderValue('Resolution', 'resolution', '256', 'px', '16', '512', '1', 'uInt')
                        +sliderValue('Frames per Second', 'fps', '12', 'fps', '1', '50', '1', 'uInt')
                        +sliderValue('Line Width', 'lineWidth', '1', 'px', '0.1', '10', '0.1', 'uFloat')

                        button#download Download

                    #canvasContainer
                        canvas


        //- #conversionCountContainer

        //-     h2 Total Conversions:
        //-     h2 186491827


        #api


            h2 API
            h3 Conversion is also possible via post request with an attached .ild file.

            .code
                p curl -F "data=@/path/to/file.ild" http://ildaconverter.sidneydouw.de/convert

            .code
                p let formData = new FormData()
                p formData.append('data', globals.activeFile)

                p fetch('/convert', {
                p     method: 'post',
                p     body: formData
                p })
        
    footer

        #container
            div © 2020 Sidney Douw
            nav
                a Privacy